<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Dodaj nową subskrypcję</title>
</head>
<body>
<h1>Dodaj nową subskrypcję</h1>
<form th:object="subscription" method="post">
    <div>
        <label>ID subskrypcji: <input type="number" th:keytype="*{Long}"></label>
    </div>
    <div>
        <label>Tytuł gry: <input type="text" th:field="*{String}"></label>
    </div>
    <div>
        <label>Nazwa użytkownika: <input type="text" th:field="*{String}"></label>
    </div>
    <div><input type="submit"></div>
</form>
</body>
</html>