<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:replace="fragments :: myHead(title = 'Dodaj subskrypcję')"></head>
<body>
<div th:replace="fragments :: navBar"></div>
<div class="container">
<h1>Dodaj nową subskrypcję</h1>

<form class="row g-3" th:object="${subscription}" method="post" th:action="@{/subscription/add}">
  <div>
    <label class="form-label" >Tytuł gry:
      <select  class="form-select" name="game" id="game" >
        <option class="form-control"  th:each="game: ${games}" th:value="${game.id}" th:text="${game.title}" th:field="*{game}"></option>
      </select>
      <!--            <input type="range" th:field="*{game}"> -->
    </label>
  </div>
  <div>
    <label class="form-label" >Nazwa użytkownika: <input class="form-control"  type="text" th:field="*{user}"></label>
  </div>
  <input type="datetime-local" th:field="*{activationDate}" th:value="${#temporals.formatISO(#temporals.createNow())}">
  <input type="datetime-local" th:field="*{expireDate}" th:min="${#temporals.format(#temporals.createNow(), 'dd.MM.yyyy, HH:mm')}" th:text="${#temporals.format(#temporals.createNow(), 'dd.MM.yyyy, HH:mm')}">
  <div><input  class="btn btn-dark" type="submit" value="Dodaj"></div>
</form>
</div>
<footer th:replace="fragments :: btFooter"></footer>
<script th:replace="fragments :: btScript"></script>
</body>
</html>