<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Aktywne subskrycje</title>
</head>
<body>
<h1>Wypożyczone gry</h1>
<a th:href="@{/subscription/add}">Dodaj subskrypcję</a>
<table>
    <tr>
        <th>Id</th>
        <th>Tytuł</th>
        <th>Nazwa użytkownika</th>
        <th>Data wygaśnięcia subskrypcji</th>
    </tr>
    <tr th:each="subscription: ${subscriptions}">
        <td><a th:href="@{'/subscription/' + ${subscription.id}}"  th:text="${subscription.id}"></a></td>
        <td><a th:href="@{'/subscription/' + ${subscription.id}}" th:text="${subscription.game}"></a></td>
        <td><a th:href="@{'/subscription/' + ${subscription.id}}"  th:text="${subscription.user}"></a></td>
        <td><a th:href="@{'/subscription/' + ${subscription.id}}"  th:text="${subscription.expireDate}"></a></td>
        <td><a th:href="@{'/subscription/' + ${subscription.id} + '/edit'}" >Edytuj</a></td>
        <td><a th:href="@{'/subscription/' + ${subscription.id} + '/delete'}" >Usuń</a></td>
    </tr>
</table>
<a th:href="@{/}">Powrót na stronę główną</a>
</body>
</html>