<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: myHead(title = 'Wszystkie subskrypcje')"></head>
<body>
<div th:replace="fragments :: navBar"></div>

<div class="container"><h1>Wypożyczone gry</h1>
<div>
<a class="btn btn-outline-dark" th:href="@{/subscription/add}">Dodaj subskrypcję</a>
</div>
<table class="table">
    <thead>
    <tr>
        <th scope="col">Id</th>
        <th scope="col">Tytuł</th>
        <th scope="col">Nazwa użytkownika</th>
        <th scope="col">Data utworzenia subskrypcji</th>
        <th scope="col">Data wygaśnięcia subskrypcji</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="subscription: ${subscriptions}">
        <td><a th:href="@{'/subscription/' + ${subscription.id}}"  th:text="${subscription.id}"></a></td>
        <td><a th:href="@{'/subscription/' + ${subscription.id}}" th:text="${subscription.game.title}"></a></td>
        <td><a th:href="@{'/subscription/' + ${subscription.id}}"  th:text="${subscription.user}"></a></td>
        <td><span th:text="${subscription.activationDate}"></span></td>
        <td><a th:href="@{'/subscription/' + ${subscription.id}}"  th:text="${subscription.expireDate}"></a></td>
        <td><a class="btn btn-outline-dark" th:href="@{'/subscription/' + ${subscription.id} + '/edit'}" >Edytuj</a></td>
        <td><a class="btn btn-outline-dark" th:href="@{'/subscription/' + ${subscription.id} + '/delete'}" >Usuń</a></td>
    </tr>
    </tbody>
</table>
</div>
<a th:href="@{/}">Powrót na stronę główną</a>
<footer th:replace="fragments :: btFooter"></footer>
<script th:replace="fragments :: btScript"></script>
</body>
</html>