<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:replace="fragments :: myHead(title = 'Gra')"></head>
<body>
<div th:replace="fragments :: navBar"></div>

<div class="container">
  <div th:object="${game}">
    <h1 class="h1" th:text="*{title}"></h1>
    <ul class="list-group">
    <li class="list-group-item"> Cena: <span th:text="*{price}"></span></li>
    </ul>
    <div class="constantsSummary" >
      <p> Krótki opis gry...</p>
    </div>
    <div sec:authorize="isAuthenticated()" >
    <form method="post" th:action="@{/subskrypcja/add}">
      <input class="btn btn-dark" type="submit" value="Subskrybuj">
    </form>
    </div>
  </div>
  <div class="btn-group">
    <a class="btn btn-outline-dark" th:href="@{'/game/' + ${game.id} + '/edit'}" role="button">Edytuj</a>
   <a class="btn btn-outline-dark" th:href="@{'/game/' + ${game.id} + '/delete'}" role="button">Usuń</a>

  <a class="btn btn-outline-dark" th:href="@{/game/all}" role="button">Powrót do listy gier</a>
  </div>
</div>
<footer th:replace="fragments :: btFooter"></footer>
<script th:replace="fragments :: btScript"></script>
</body>
</html>