<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: myHead(title = 'Dodaj użytkownika')"></head>
<body>
<div th:replace="fragments :: navBar"></div>
<h1>Stwórz nowego użytkownika</h1>
<form th:object="${user}" method="post">
    <div>
        <label>Login: <input type="text" th:field="*{login}"></label>
    </div>
    <div>
        <label>Hasło: <input type="password" th:field="*{password}"></label>
    </div>
    <div>
        <label>E-mail: <input type="text" th:field="*{email}"></label>
    </div>
    <div>
        <label>Wartość portfela: <input type="number" step="0.01" th:field="*{wallet}"></label>
    </div>
    <div><input type="submit"></div>
</form>
<footer th:replace="fragments :: btFooter"></footer>
<script th:replace="fragments :: btScript"></script>
</body>
</html>