<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: myHead(title = 'Profil')"></head>
<body>
<div th:replace="fragments :: navBar"></div>
<h1>Użytkownik o id <strong th:text="${user.id}"></strong></h1>
<ul>
    <li>Login: <strong th:text="${user.login}"></strong></li>
    <li>Kwota w portfelu: <strong th:text="${user.wallet}"></strong></li>
    <li>E-mail: <strong th:text="${user.email}"></strong></li>
    <li>Rodzaj konta: <strong th:text="${user.userType}"></strong></li>
</ul>
<footer th:replace="fragments :: btFooter"></footer>
<script th:replace="fragments :: btScript"></script>
</body>
</html>