<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: myHead(title = 'Utwórz portfel')"></head>
<body>
<div th:replace="fragments :: navBar"></div>
<h1>Utwórz portfel</h1>
<form th:object="${wallet}" method="post" th:action="@{/wallet/add}">
    <label>Wartość portfela: <input type="text" th:field="*{accountBalance}"></label>
    <label>Metoda płatności:
        <select name="payMethod" th:field="*{payMethod}">
        <option th:each="method : ${T(pl.sdag2.entity.PayMethodEnum).values()}"
                th:value="${method}" th:text="${method}"></option>
        </select>
    </label>
    <input type="submit">
</form>
<footer th:replace="fragments :: btFooter"></footer>
<script th:replace="fragments :: btScript"></script>
</body>
</html>