<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: myHead(title = 'Lista portfeli')"></head>
<body>
<div th:replace="fragments :: navBar"></div>
<h1>Lista portfeli</h1>
<table>
    <thead>
    <tr>
        <th>Użytkownik</th>
        <th>Wartość portfela</th>
        <th>Metoda płatności</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="wallet : ${wallets}">
        <td> <a th:href="@{'/wallet/' + ${wallet.id}}" th:text="${wallet.user}"></a></td>
        <td th:text="${wallet.accountBalance}"></td>
        <td th:text="${wallet.payMethod}"></td>
        <td><a th:href="@{'/wallet/' + ${wallet.id} + '/edit'}">Edytuj</a> </td>
        <td><a th:href="@{'/wallet/' + ${wallet.id} + '/delete'}">Usuń</a> </td>
    </tr>
    </tbody>

</table>
<a th:href="@{/wallet/add}">Dodaj portfel</a> <br>
<a th:href="@{/}">Powrót na stronę główną</a>
<footer th:replace="fragments :: btFooter"></footer>
<script th:replace="fragments :: btScript"></script>
</body>
</html>
