<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: myHead(title = 'Portfel')"></head>
<body>
<div th:replace="fragments :: navBar"></div>
<div th:object="${wallet}">
    <h1 th:text="*{id}"></h1>
    <p> Wartość portfela: <span th:text="*{accountBalance}"></span></p>
    <p> Metoda płatności: <span th:text="*{payMethod}"></span></p>
</div>
<footer th:replace="fragments :: btFooter"></footer>
<script th:replace="fragments :: btScript"></script>
</body>
</html>